<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/_header.css">
</head>
<body>
    <div class="navbar">
        <div class="navbrand">
           <h1>Safar</h1> 
        </div>
        <div class="nav-items">
            <div class="nav-item"><a href="/">Home</a></div>
            <div class="nav-item"><a href="/about">About</a></div>
            <div class="nav-item"><a href="/explore">Explore</a></div>
            <div class="nav-item"><a href="/new-review">New Review</a></div>
        </div>
    </div>
</body>
</html>