<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Safar | About</title>
    <link rel="stylesheet" href="/css/about.css">
</head>
<body>
    <%-include('_header')%>
    <div class="main">
        <div class="left">
          <img class="about-img" src="/img/about.jpg" alt="">
        </div>
        <div class="right">
            <div class="content">
                <div>Safar: Travel Blog Website</div>
                <div>Images</div>
                <div>Experiences</div>
                <div>Expenditure</div>
                <div>Ratings</div>
                <div>Places to Visit, etc</div>
                <div>Coding Ninjas</div>
                <div>Build Along side Nodejs Guided Path</div>
            </div>
        </div>
    </div>
    <%-include('_footer')%>
</body>
</html>