<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Safar | Home</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <%-include('_header')%>
    <div class="main">
    <img class="homepage-img" src="/img/travel.jpg" alt="">
    </div>
    <%-include('_footer')%>
</body>
</html>