*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

a{
    color: black;
}

.main{
    height: 75vh;
    width: 99vw;
}

.homepage-img{
    height: 75vh;
    width: 100vw;
}